<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <title>Flow the Music</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
      <link href='/assets/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="wrapper">
      <p>
        <a href="/">&larr; Share another</a>
      </p>
      <div class="column">
        <img src="<%= entity_data.cover_image_url %>" width="100%" alt="cover iamge" />
      </div>
      <div class="column">
        <% main_title, *secondary_title = *[entity_data.track, entity_data.album, entity_data.artist].compact %>
        <span class="kind">[ <%= entity_data.kind %> ]</span>
        <h1 class="small"><%= main_title %></h2>
        <h2 class="small">
          <i><%= secondary_title.join('<br />') %></i>
        </h1>
        <div class="outside-links">
          <ul>
            <li><a href="/r/apple_music?u=<%= orig_url %>">Apple Music</a></li>
            <li><a href="/r/spotify?u=<%= orig_url %>">Spotify</a></li>
            <li><a href="/r/deezer?u=<%= orig_url %>">Deezer</a></li>
            <!-- <li><a href="/r/rdio?u=<%= orig_url %>">Rdio</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
