<!doctype html>
<% titles = [entity_data.track, entity_data.album, entity_data.artist].compact %>
<html class="" lang="en-US">
  <head>
      <meta charset="utf-8">
      <title>StreamFlow</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:type" content="music.song"/>
      <meta property="og:title" content="<%= titles.first %>"/>
      <meta property="og:url" content="<%= request.url %>"/>
      <meta property="og:image" content="<%= entity_data.cover_image_url %>"/>
      <meta property="og:site_name" content="StreamFlow"/>
      <meta property="fb:app_id" content="1067545229962488"/>
      <meta name="twitter:card" content="summary_large_image">

      <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
      <link href='/assets/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="wrapper">
      <p>
        <a href="/">&larr; Share another</a>
      </p>
      <div class="column">
        <img src="<%= entity_data.cover_image_url %>" width="100%" alt="cover iamge" />
      </div>
      <div class="column">
        <% main_title, *secondary_title = *titles %>
        <span class="kind">[ <%= entity_data.kind %> ]</span>
        <h1 class="small"><%= main_title %></h2>
        <h2 class="small">
          <i><%= secondary_title.join('<br />') %></i>
        </h1>
        <div class="outside-links">
          <span class="kind">[ Listen in on these services ]</span>
          <ul class="cf">
            <li><a href="/r/apple_music?u=<%= orig_url %>">Apple Music</a></li>
            <li><a href="/r/deezer?u=<%= orig_url %>">Deezer</a></li>
            <li><a href="/r/spotify?u=<%= orig_url %>">Spotify</a></li>
            <li><a href="/r/rdio?u=<%= orig_url %>">Rdio</a></li>
          </ul>
        </div>
        <div class="outside-links social">
          <span class="kind">[ Share this <% entity_data.kind %> with your friends ]</span>
          <div class="fb-like" data-href="<%= request.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <div><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="streamflow">Tweet</a></div>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1067545229962488";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
